<!DOCTYPE html>
<html lang="en">
<head>
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>


.image .text {
    position:absolute;
    top:0px;
    left:0px;
    width:300px;
    text-align:center;

}
.image .text span {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #030303;
    text-align:center;
}
mark {
  background-color: rgb(40, 40, 41);
  color: rgb(248, 244, 244);
}

</style>
</head>
<tr>
    <div class="image">
      <div class="text">
        <span><mark>Type The Tweet Link here</mark></span>
          <form method="POST" action="/tweet">
            <div class="form-group">
        <span><input name="tweet" type="text" placeholder="Type Something......."></span>
        </div>
        <span><button type="submit" class="btn btn-outline-dark" role="button" aria-pressed="true"> Start</button></span>
        <span><a href="/stop" type="submit" class="btn btn-outline-dark" role="button" aria-pressed="true"> Stop</a></span>
      </div>

    </form>
    
    
    </div>
    </tr>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

</html>